<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KursovoyProect.Properties.Settings.DBaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\DBase\DBase.mdb"
            providerName="System.Data.OleDb" />
        <add name="KursovoyProect.Properties.Settings.DBaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Михаил\Desktop\d\TRPO\Kursovay\KursovoyProect\DBase\DBase.mdb"
            providerName="System.Data.OleDb" />
        <add name="KursovoyProect.Properties.Settings.DBaseConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DBase.mdb"
            providerName="System.Data.OleDb" />
        <add name="KursovoyProect.Properties.Settings.DBaseConnectionString3"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\DBase\DBase.mdb"
            providerName="System.Data.OleDb" />
        <add name="KursovoyProect.Properties.Settings.DBaseConnectionString4"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBase.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>